In [1]:
import pandas as pd

In [2]:
poverty_data = pd.read_csv('data/PovStatsData.csv')

In [8]:
regions =  ['East Asia & Pacific', 'Europe & CentralAsia', 'Fragile and conflict affectedsituations', 'High income',
'IDA countries classified as fragile situations', 'IDAtotal', 'Latin America & Caribbean', 'Low & middleincome', 'Low income', 'Lower middle income', 'MiddleEast & North Africa', 'Middle income', 'South Asia',
'Sub-Saharan Africa', 'Upper middle income', 'World']

In [9]:
population_df = poverty_data[
    (poverty_data['Country Name'].isin(regions)) & 
    (poverty_data['Indicator Name'] == 'Population, total')
]

In [10]:
population_df.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1974,1975,1976,1977,1978,1979,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 50
27,East Asia & Pacific,EAS,"Population, total",SP.POP.TOTL,1.416257e+09,1.443359e+09,1.467569e+09,1.490449e+09,1.513227e+09,1.536435e+09,...,2.221673e+09,2.236819e+09,2.252047e+09,2.267482e+09,2.282856e+09,2.298514e+09,2.314202e+09,2.328221e+09,NaN,NaN
219,High income,HIC,"Population, total",SP.POP.TOTL,9.135110e+08,9.225734e+08,9.301713e+08,9.379903e+08,9.458800e+08,9.541429e+08,...,1.204631e+09,1.212058e+09,1.219557e+09,1.227212e+09,1.234714e+09,1.242138e+09,1.249066e+09,NaN,NaN,NaN
283,IDA countries classified as fragile situations,DFS,"Population, total",SP.POP.TOTL,1.547582e+08,1.590083e+08,1.635537e+08,1.683528e+08,1.732958e+08,1.782297e+08,...,3.941606e+08,4.029324e+08,4.117241e+08,4.206255e+08,4.297374e+08,4.391099e+08,4.487190e+08,4.586858e+08,NaN,NaN